a{
    text-decoration: none;
    color: #000;
}

.result-container{
    display: flex;
    flex-wrap: wrap;
   
    
}

.result-container .food{
    width: 31.33%;
    margin-right: 2%;
    margin-bottom: 20px;
}

.result-container .food-name {
    background-color: rgb(240, 239, 239);

}

.result-container .food-name h4{
    margin: 0;
    padding: 10px 0;
}


@media all and (max-width:768px){
    .result-container .food{
        width: 48%;
        margin-right: 2%;
        margin-bottom: 20px;
    }
}
@media all and (max-width:500px){
    .result-container .food{
        width: 100%;
        
        margin-bottom: 20px;
    }
}